<!DOCTYPE html>
<html lang="en">
<%- include('./parts/head.ejs')  %>
<body>
    <main class="create-pass">
        <div>
            <h1>Create your custom room</h1>
            <form action="/create-room" method="POST" class="form">
                <input type="texto" class="input" placeholder="Room Title" name="title">
                <input type="password" class="input" placeholder="Password" name="password">
                <button type="submit" class="btn">Create Room</button>
            </form>
        </div>
    </main>
</body>
</html>