<!DOCTYPE html>
<html lang="en">
<%- include('./parts/head.ejs')  %>
<body>
    <main class="home">
        <div class="banner-container">
            <div>
                <h1>Welcome</h1>
                <span>nice to see you</span>
            </div>
            <img src="/assets/banner.svg" alt="">
        </div>
        <div class="info-container">
            <header>
                <i class="fas fa-users"></i>
                <h1>Live interations</h1>
            </header>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, laborum!</p>
            <div>
                <h2>Create a new room</h2>
                <a href="/create-room" class="btn">Create</a>
            </div>
            <p class="divisor">or</p>
            <div>
                <h2>Join a room</h2>
                <form action="" class="form">
                    <input type="text" placeholder="Room Code" name="room-code" class="input">
                    <button class="btn" type="submit">Enter</button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>