<html>
    <head>
        <title>Incorrect Password</title>
        <script>
            confirm("Incorrect Password")
            window.location.replace('/room/<%= roomId %>')
        </script>
    </head>
</html>